VITE_API_BASE=http://localhost:8080/api
VITE_API_BASE_SIM=http://localhost:8083/api
VITE_AUTH_AES_KEY=MDEyMzQ1Njc4OWFiY2RlZg==
VITE_APP_VERSION=
VITE_PRODUCT_CODE_LABEL=Product Code
VITE_METADATA_LOCATIONS=HOME,OFFICE
VITE_SHADOW_LABEL=SHADOW
VITE_ASG_LABEL=ASG
VITE_SAKNAY_LABEL=Saknay
VITE_IDLE_LOGOUT_MINUTES=15
VITE_SCOPE_RESET_GRACE_MINUTES=10

